@model Venue_Management_System.ViewModels.BookVenueViewModel
@{
    ViewBag.Title = "BookSpace";
    Layout = "~/Views/Shared/_StudentLayout_H.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.BookVenue.UserId)
    @Html.HiddenFor(model => model.BookVenue.VenueId)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-check form-switch">
                    @foreach (var category in Model.BookVenueCategories)
                    {
                        <div> @Html.RadioButtonFor(c => c.SelectedCategory, category.Id, new { @class = "form-check-input" })</div>
                        <label class="form-check-label" for="customSwitch1">@category.BookVenueType </label>
                    }
                </div>
            </div>
        </div>
        @*<div class="form-group">
                <div class="col-md-10">
                    <div class="form-check form-switch">
                        @Html.RadioButton("BookVenueCategory", "Group", new { @class = "form-check-input" })
                        <label class="form-check-label" for="customSwitch1">Group </label>
                    </div>
                </div>
            </div>*@
        <div class="form-group" id="selectGroup">
            @Html.LabelFor(m => m.GroupMembers.Id, new { @class = "form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.GroupMembers.Id, new SelectList(Model.Groups, "Id", "Name"), "Select Group", new { @class = "form-control", id ="groupMemberId" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BookVenue.BookingDate, new { @class = "form-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookVenue.BookingDate, new { htmlAttributes = new { @class = "form-control", @id = "example-date", @name = "date", @type = "date" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.BookVenue.StartingTime, new { @class = "form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookVenue.StartingTime, new { htmlAttributes = new { @class = "form-control", id = "example-time", name = "time", @type = "time" } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.BookVenue.LeavingTime, new { @class = "form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookVenue.LeavingTime, new { htmlAttributes = new { @class = "form-control", id = "example-time", name = "time", @type = "time" } })
                </div>
            </div>
        </div>
        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-danger" value=" Book Venue" />
            </div>
        </div>
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#selectGroup').hide();
            $('input[name=SelectedCategory]').click(function () {
                console.log($('input[name=SelectedCategory]:checked').val());
                if ($('input[name=SelectedCategory]:checked').val() === "2") {
                    $('#selectGroup').show();
                } else {
                    $('#selectGroup').hide();
                }
                if ($('input[name=SelectedCategory]:checked').val() === "1") {
                    $('#groupMemberId').val(0);
                }

            });
        });
    </script>
}