@model Venue_Management_System.ViewModels.BookVenueViewModel
@{
    ViewBag.Title = "BookSpace";
    Layout = "~/Views/Shared/_StudentLayout_H.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="customSwitch1" name="individual">
            <label class="form-check-label" for="customSwitch1">Group Group</label>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" id="customSwitch1">
                    <label class="form-check-label" for="customSwitch1">Individual </label>
                </div>
            </div>
        </div>
        <div class="form-group" id="selectGroup">
            @Html.LabelFor(m => m.GroupMembers.Id, new { @class = "form-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.GroupMembers.Id, new SelectList(Model.Groups, "Id", "Name"), "Select Group", new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BookVenue.BookingDate, new { @class = "form-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookVenue.BookingDate, new { htmlAttributes = new { @class = "form-control", @id = "example-date", @name = "date", @type = "date" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.BookVenue.StartingTime, new { @class = "form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookVenue.StartingTime, new { htmlAttributes = new { @class = "form-control", id = "example-time", name = "time", @type = "time" } })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.BookVenue.LeavingTime, new { @class = "form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BookVenue.LeavingTime, new { htmlAttributes = new { @class = "form-control", id = "example-time", name = "time", @type = "time" } })
                </div>
            </div>
        </div>
        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-danger" value=" Book Venue" />
            </div>
        </div>
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $('#selectGroup').hide();
            $('input[name=individual]').click(function () {
                console.log($('input[name=individual]:checked').val());
                if ($('input[name=individual]:checked').val() === "on") {
                    $('#selectGroup').show();
                } else {
                    $('#selectGroup').hide();
                }
            });
        });
    </script>
}