@using Microsoft.AspNet.Identity;
@model IEnumerable<Venue_Management_System.Models.Group>

@{
    ViewBag.Title = "MyGroups";
    Layout = "~/Views/Shared/_StudentLayout_H.cshtml";
}

@if (!Model.Any())
{
    <p>You dont have any group</p>
}
else
{
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-lg-8">
                            <form class="row gy-2 gx-2 align-items-center">
                                <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Search</label>
                                    <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                                </div>
                                <div class="col-auto">
                                    <div class="ms-sm-2">
                                        <label for="status-select">Status</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="me-sm-2">
                                        <select class="form-select" id="status-select">
                                            <option selected>Choose...</option>
                                            <option value="1">Paid</option>
                                            <option value="2">Awaiting Authorization</option>
                                            <option value="3">Payment failed</option>
                                            <option value="4">Cash On Delivery</option>
                                            <option value="5">Fulfilled</option>
                                            <option value="6">Unfulfilled</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4">
                            <div class="text-lg-end">
                                <a type="button" class="btn btn-danger mb-2 me-2" href="@Url.Action("CreateGroup", "Student")"><i class="mdi mdi-basket me-1"></i> Add New Group</a>
                            </div>
                        </div><!-- end col-->
                    </div>

                    <div class="table-responsive">
                        <table class="table table-centered mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th style="width: 20px;">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="customCheck1">
                                            <label class="form-check-label" for="customCheck1">&nbsp;</label>
                                        </div>
                                    </th>
                                    <th>Group Name</th>
                                    <th>Members</th>
                                    <th style="width: 125px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var group in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="customCheck2">
                                                <label class="form-check-label" for="customCheck2">&nbsp;</label>
                                            </div>
                                        </td>
                                        <td>
                                            @group.Name
                                        </td>
                                        <td>
                                            @foreach (var member in group.GroupMembers)
                                            {
                                                if (@group.UserId == @member.UserId)
                                                {
                                                    @(member.Student.Firstname +" "+ member.Student.Lastname +"  (Owner)") <br />
                                                }
                                                else
                                                {
                                                    @(member.Student.Firstname +" "+ member.Student.Lastname) <br />
                                                }
                                            }
                                        </td>
                                        <td>
                                            @if (@group.UserId == User.Identity.GetUserId())
                                            {
                                                <a href="javascript:void(0);" class="action-icon" onclick="ViewGroup(@group.Id)"> <i class="mdi mdi-eye"></i></a>
                                                <a href="javascript:void(0);" class="action-icon" onclick="UpdateVenue()"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                <a href="javascript:void(0);" class="action-icon" onclick="RemoveVenue()" data-bs-toggle="modal" data-bs-target="#top-modal"> <i class="mdi mdi-delete"></i></a>
                                            }
                                            else
                                            {
                                                <a href="javascript:void(0);" class="action-icon">--</a>
                                                <a href="javascript:void(0);" class="action-icon" onclick="ViewGroup(@group.Id)"><i class="mdi mdi-eye"></i></a>
                                                <a href="javascript:void(0);" class="action-icon">--</a>

                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
}
@using (Html.BeginForm("ViewGroupDetails", "Student", FormMethod.Get))
{
    <input type="hidden" id="g_Id" value="" name="id" />
    <input type="submit" id="btnViewGroupDetails" value="ViewGroup" style="display:none" />
}

@using (Html.BeginForm("RemoveVenue", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="fvenueId" value="" name="id" />
    <input type="submit" id="btnDelete" value="Delete" style="display:none" />
}
@using (Html.BeginForm("UpdateVenue", "Admin", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="u_venueId" value="" name="id" />
    <input type="submit" id="btnUpdateVenue" value="Update" style="display:none" />
}

<div id="top-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="topModalLabel">Alert</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to deactivate this venue??</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SubmitRemoveVenueForm()">Yes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section scripts
{

    <script>
        function ViewGroup(groupId) {
            $("#g_Id").val(groupId);
            SubmitViewGroupDetailsForm();
        };

        function SubmitViewGroupDetailsForm() {
            $("#btnViewGroupDetails").click();
        };

        function UpdateVenue(venueId) {
            $("#u_venueId").val(venueId);
            SubmitUpdateVenueForm();
        };

        function SubmitUpdateVenueForm() {
            $("#btnUpdateVenue").click();
        };

        function RemoveVenue(venueId) {
            console.log(venueId);
            $("#fvenueId").val(venueId);
        };
        function SubmitRemoveVenueForm() {
            $("#btnDelete").click();
        };

    </script>
}