@model Venue_Management_System.ViewModels.VenueViewModel

@{
    ViewBag.Title = "AddVenue";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AddVenue</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3">
            @Html.LabelFor(m => m.Venue.Name, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Venue.Name, new { @class = "form-control", @placeholder = "Enter the name of the venue" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Venue.NumberOfSits, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Venue.NumberOfSits, new { @class = "form-control", @placeholder = "Enter the number sits the venue have" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Venue.NumberOfSitsAllowed, new { @class = "form-label" })
            @Html.TextBoxFor(m => m.Venue.NumberOfSitsAllowed, new { @class = "form-control", @placeholder = "Enter the number of sits allowed" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Venue.VenueTypeId, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.Venue.VenueTypeId, new SelectList(Model.VenueTypes, "Id", "TypeOfVenue"), "Select type of venue", new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Venue.CampusId, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.Venue.CampusId, new SelectList(Model.Campuses, "Id", "Name"), "Select Campus", new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Venue.departmentId, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.Venue.departmentId, new SelectList(Model.Departments, "Id", "Name"), "Select department", new { @class = "form-control" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Venue.venueStatusId, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.Venue.venueStatusId, new SelectList(Model.VenueStatuses, "Id", "Status"), "Select status", new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-danger mb-2" value=" Add Venue" />
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
    }
    );
    if ('@ViewBag.message' == "Added")
        $.NotificationApp.send("Heads up!", "Venue added successful.", "top-right", "rgba(0,0,0,0.2)", "success")
    else if ('@ViewBag.message' == "NotAdded")
        $.NotificationApp.send("Oops!", "Venue was not added.", "top-right", "rgba(0,0,0,0.2)", "error")
    

</script>
    }
