@model Venue_Management_System.ViewModels.BookViewModel
@{
    ViewBag.Title = "UpdateBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Book</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Book.Id)
        @Html.HiddenFor(model => model.Book.TotalBooksAvailable)

        <div class="form-group">
            @Html.LabelFor(model => model.Book.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Book.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Book.Name, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Book.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Book.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Book.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book.DatePublished, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Book.DatePublished, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Book.DatePublished, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Book.TotalBooks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Book.TotalBooks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Book.TotalBooks, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Book.BookStatusId, new { @class = "form-label" })
                @Html.DropDownListFor(m => m.Book.BookStatusId, new SelectList(Model.BookStatuses, "Id", "Status"), "Select Campus", new { @class = "form-control" })
            </div>
        </div>

        <div class="mb-3">

        </div>
        <div class="mb-3">
            <a class="btn btn-primary" href="javascript:;" onclick="Back()">Back</a>
            <input type="submit" class="btn btn-danger" value="Update Book" />
        </div>
    </div>
}
